body{
    background-color: aquamarine
} 

#form{
    background-color: whitesmoke;
    width: 25%;
    margin: 140px auto;
    padding: 40px;
    box-shadow: 10px 10px 5px rgb(11, 71, 82);
    border-radius: 4px;
}

#btn{
    color: whitesmoke;
    background-color: rgb(127, 187, 255);
    padding: 5px;
    font-size: large;
    border-radius: 10px;
}